{% extends "base.html" %}

{% block content %}

<div class="alert alert-success container" role="alert">
        <h4 class="alert-heading">Búsqueda de Vacantes</h4>
        <p>Especificá la zona en la que buscás colegio y luego el nivel y sala/grado/año específico que búscas</p>
        <p>Si tenés que buscar más de una vacante, pulsá el botón con el signo más y podrás especificar hasta 5 vacantes.</p>
        <hr>
        <p class="mb-0">Recordá que la búsqueda te traerá los colegios que tengan <strong>TODAS</strong> las vacantes que buscás.</p>
</div>

<form id="searchform" class="container" data-grades-url="{% url 'buscacole:ajax_load_grades' %}" action="{% url 'buscacole:search2' %}" method="get" accept-charset="utf-8">
    <div class="form-row">
        <div class="form-group col-12">
            {{ form.searchText }}
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-5">
            {{ form.levelDropDown }}
        </div>

        <div class="form-group col-md-5">
            {{ form.gradeDropDown }}
        </div>
    </div>

    <input class="btn btn-primary" type="submit" value="Search">
</form>

<script>
        $("#level").change(function () {
            var url = $("#searchform").attr("data-grades-url");  // get the url of the `load_grades` view
            var levelId = $(this).val();  // get the selected level ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    'level': levelId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                            $("#grade").html(data);  // replace the contents of the city input with the data that came from the server
                         }
            });
        });
    </script>

{% endblock %}