{% extends "base.html" %}

{% block content %}
    <form id="searchform" class="form-inline" data-grades-url="{% url 'buscacole:ajax_load_grades' %}" action="{% url 'buscacole:search' %}" method="get" accept-charset="utf-8">
        <div class="form-row">
            <div class="form-group col-md-18">
                <input class="form-control" id="searchbox" name="q" type="text" placeholder="Provincia / Localidad / Ciudad">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-18">
                <label for="level">Nivel</label>
                <select class="form-control" id="level" name="level">
                    {% for level in levels %}
                        <option value="{{ level.pk }}">{{ level.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-18">
                <label for="grade">Grado</label>
                <select class="form-control" id="grade" name="grade">

                </select>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" value="Search">
            <i class="fa fa-search">buscar</i>
        </button>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script>
        $("#level").change(function () {
            var url = $("#searchform").attr("data-grades-url");  // get the url of the `load_grades` view
            var levelId = $(this).val();  // get the selected country ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    'level': levelId       // add the country id to the GET parameters
                    },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#grade").html(data);  // replace the contents of the city input with the data that came from the server
                    }
               });
            });
        </script>
{% endblock %}